/* fix registration icons */

.svhub .has-feedback .form-control-feedback {
  top: 0;
}

.content-wrapper {
  /*margin-top: 50px;*/
}

.conference-panel {
  width: 250px;
  display: inline-block;
  height: 261px;
  margin-right: 50px;
  margin-bottom: 50px;
}

.conference-panel .conf-panel-content {
  width: 225px;
  height: 150px;
}

.conference-panel .conf-panel-content {
  text-align: center;
}

.conference-panel .conf-panel-content i {
  font-size: 124px;
}

input:invalid {
  box-shadow: 0 0 5px 1px red;
}

.navbar-brand img {
  height: 50px;
  margin-top: -15px;
}

.svhub .ng-table th {
  text-align: left;
}